@use 'variables' as v;

.footer {
    background-color: #ededed;
}

.footer .container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    padding: 48px 26px 0;

    @media (min-width: v.$screen-tablet) {
        grid-template-columns: 0.174fr 0.243fr 0.344fr 0.239fr;
        grid-template-rows: 2fr 1fr;
        padding: 40px 77px 63px;
        gap: 0;
    }

    @media (min-width: v.$screen-desktop) {
        padding: 29px 0;
        grid-template-columns: 189px 440px 319px auto;
        // 189px 440px 319px auto
    }
}

.footer__logo-link {
    grid-column: span 2;
    justify-self: center;
    margin-bottom: 14px;
    text-decoration: none;
    display: block;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.6;
    }

    @media (min-width: v.$screen-tablet) {
        grid-column: 1/2;
        grid-row: 1/3;
        justify-self: start;
        align-self: start;
        margin-bottom: 20px;
    }
}

.footer__logo {
    display: block;

    @media (min-width: v.$screen-tablet) {
        width: 65px;
        height: 93px;
    }

    @media (min-width: v.$screen-desktop) {
        width: 80px;
        height: 114px;
    }
}

.footer__nav {
    grid-row: -1;
    grid-column: 1/2;

    @media (min-width: v.$screen-tablet) {
        grid-column: 2/3;
        grid-row: 1/3;
        align-self: start;
        padding-top: 13px;
    }

    @media (min-width: v.$screen-desktop) {
        padding-top: 22px;
    }
}

.footer__nav-link {
    text-decoration: none;
    color: v.$primary-text-color;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 500;

    @media (min-width: v.$screen-desktop) {
        font-size: 1.167rem;
    }
}

.footer__nav-item {
    list-style-type: none;
    margin-bottom: 1px;

    @media (min-width: v.$screen-desktop) {
        margin-bottom: 4px;
    }
}

.footer__nav-list {
    margin: -1px 0 0;
    padding: 0;
}

.footer__contacts {
    grid-row: -1;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    padding: 2px 0 0px 13px;

    @media (min-width: v.$screen-tablet) {
        grid-column: 3/5;
        grid-row: 1/3;
        align-self: start;
        display: grid;
        grid-template-columns: 1.4fr 1fr;
        grid-template-rows: repeat(3, auto);
        padding-top: 13px;
        padding-left: 0;
    }

    @media (min-width: v.$screen-desktop) {
        grid-template-columns: 2fr 1fr;
        padding-top: 22px;
    }
}

.footer__contact-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: v.$primary-text-color;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    margin-bottom: 6px;

    @media (min-width: v.$screen-tablet) {
        align-self: start;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            grid-column: 1/2;
        }

        &:nth-child(4) {
            grid-column: 2/3;
            grid-row: 1/2;
        }
    }

    @media (min-width: v.$screen-desktop) {
        font-size: 1.167rem;
        margin-bottom: 4px;
    }
}

.footer__contact-icon {
    width: 19px;
    height: 19px;
    display: block;
    margin-right: 5px;

    @media (min-width: v.$screen-desktop) {
        margin-right: 9px;
    }
}

.footer__contact-icon--telegram {
    fill: transparent;
    stroke: #282828;
}

.footer__social-block {
    grid-row: 2/3;
    grid-column: span 2;
    justify-self: center;
    display: flex;
    margin-left: 11px;
    margin-bottom: 63px;
    position: relative;
    z-index: 1;

    @media (min-width: v.$screen-tablet) {
        grid-column: 4/5;
        grid-row: 1/2;
        flex-direction: row;
        margin-left: 0;
        margin-bottom: -6px;
        padding-left: 0;
        justify-self: start;
        align-self: end;
        gap: 9px;
    }

        @media (min-width: v.$screen-desktop) {
        margin-bottom: -1px;
    }
}

.footer__social-link {
    text-decoration: none;
    margin-right: 6px;

    @media (min-width: v.$screen-tablet) {
        margin-right: 0;
    }
}

.footer__social-icon--vk,
.footer__social-icon--instagram,
.footer__social-icon--facebook {
    width: 32px;
    height: 30px;
    display: block;
}

.footer__social-icon--vk {
    fill: red;
}

.footer__social-icon--instagram {
    fill: v.$third-color;
}

.footer__social-icon--facebook {
    fill: none;
    stroke: #17C1BC;
}
