@use 'variables' as v;

.gallery {
    margin-bottom: 147px;
}

.gallery .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;

    @media (min-width: v.$screen-desktop) {
        margin-bottom: 87px;
    }
}

.gallery__subtitle {
    margin: 0;
}

.gallery__view-all {
    color: v.$primary-text-color;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 500;
    text-align: end;
    display: block;
    align-self: center;
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative;
    
    
    &::after {
        content: '';
        position: absolute;
        bottom: 4px; // Позиция на уровне низа буквы "р"
        left: 0;
        width: 100%;
        height: 0.5px;
        background: v.$primary-text-color;
    }
}

// Общие стили для picture элементов
.gallery__picture {
    overflow: hidden;
    border-radius: 5px;
    background-color: #f5f5f5;
    filter: brightness(0.8);
}

// Обертка для галереи
.gallery__grid-wrapper {
    margin: 0 24px;

    @media (min-width: v.$screen-tablet) {
        margin: 0 20px;
    }

    @media (min-width: v.$screen-desktop) {
        display: grid;
        grid-template-columns: 1fr 1.759fr;
        grid-column-gap: 20px;
        margin: 0 15px;
    }
}

// Десктопная сетка (только для десктопов)
.gallery__grid-desktop {
    display: none;
    
    @media (min-width: v.$screen-desktop) {
        display: grid;
        grid-template-columns: 1fr 1.232fr;
        grid-template-rows: 280.5px 123.29px 123.29px;
        row-gap: 20px;
        column-gap: 24px;
        
        .gallery__picture {
            
            &:nth-child(1) {
                // Lake and mountains (широкое) - верхний ряд, обе колонки
                grid-row: 1;
                grid-column: 1 / 3;
            }
            
            &:nth-child(2) {
                // Woman on horse - левая колонка, занимает 2 нижних ряда
                grid-row: 2 / 4;
                grid-column: 1;
            }
            
            &:nth-child(3) {
                // Arch - второй ряд, правая колонка
                grid-row: 2;
                grid-column: 2;
            }
            
            &:nth-child(4) {
                // Town near forest - третий ряд, правая колонка
                grid-row: 3;
                grid-column: 2;
            }
        }
    }
}

// Мобильная и планшетная сетка
.gallery__grid-mobile-tablet {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 186px 194px 260px;
    
    .gallery__picture {
        
        &:nth-child(1) {
            // Водопад - занимает первые 2 ряда в левой колонке
            grid-row: 1 / 3;
            grid-column: 1;
        }
        
        &:nth-child(2) {
            // Квадроцикл - первый ряд, правая колонка
            grid-row: 1;
            grid-column: 2;
        }
        
        &:nth-child(3) {
            // Озеро/горы - второй ряд, правая колонка
            grid-row: 2;
            grid-column: 2;
        }
        
        &:nth-child(4) {
            // Lake and mountains - третий ряд, обе колонки
            grid-row: 3;
            grid-column: 1 / 3;
        }
        
        &:nth-child(5) {
            // Башня - скрыто на мобил
            display: none;
        }
    }
    
    @media (min-width: v.$screen-tablet) {
        row-gap: 20px;
        column-gap: 20px;
        grid-template-columns: 3.07fr 4fr 3.2fr;
        grid-template-rows: 264px 283px;
        
        .gallery__picture {
            &:nth-child(1) {
                // Водопад - занимает оба ряда в левой колонке
                grid-row: 1 / 3;
                grid-column: 1;
            }
            
            &:nth-child(2) {
                // Квадроцикл - первый ряд, средняя колонка
                grid-row: 1;
                grid-column: 2;
            }
            
            &:nth-child(3) {
                // Озеро/горы - второй ряд, занимает 2 и 3 колонки
                grid-row: 2;
                grid-column: 2 / 4;
            }
            
            &:nth-child(4) {
                // Lake and mountains - скрыто на планшетах
                display: none;
            }
            
            &:nth-child(5) {
                // Башня - показать, первый ряд, правая колонка
                display: block;
                grid-row: 1;
                grid-column: 3;
            }
        }
    }
    
    @media (min-width: v.$screen-desktop) {
        grid-template-columns: 1.672fr 1.232fr 1fr;
        grid-template-rows:  263.95px 280.5px;
        
        .gallery__picture {
            &:nth-child(1) {
                // Водопад - занимает оба ряда в левой колонке
                grid-row: 1 / 3;
                grid-column: 1;
            }
            
            &:nth-child(2) {
                // Квадроцикл - первый ряд, средняя колонка
                grid-row: 1;
                grid-column: 2;
            }
            
            &:nth-child(3) {
                // Озеро/горы - второй ряд, занимает 2 и 3 колонки
                grid-row: 2;
                grid-column: 2 / 4;
            }
            
            &:nth-child(4) {
                // Lake and mountains - скрыто на десктопе
                display: none;
            }
            
            &:nth-child(5) {
                // Башня - первый ряд, правая колонка
                grid-row: 1;
                grid-column: 3;
            }
        }
    }
}

.gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
    
    &:hover {
        transform: scale(1.05);
    }
}



