@use 'variables' as v;

.header {
  background-color: transparent;
  padding: 27px 0;
  position: static;
  width: 100%;
  z-index: 10;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: v.$max-width-container;
    margin: 0 auto;
    padding: v.$padding-horizontal-mobile;
  }

  &__logo {
    z-index: 15;
  }
}

.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: v.$primary-color;
  padding: v.$padding-horizontal-mobile;
  transform: translateY(-100%);
  transition: transform 0.2s ease-in-out, height 0.2s ease-in-out;
  z-index: 11;

  &.active {
    height: 100%;
    min-height: 100vh;
    padding: 60px 24px;
    transform: translateY(0);
    transition: transform 0.2s ease-in-out, height 0.2s ease-in-out;
    z-index: 12;
  }

  @media (min-width: v.$screen-desktop) {
    position: relative;
    transform: none;
    height: auto;
    padding: 0;
    background: transparent;
    width: auto;
    overflow: visible;
    z-index: 1;
  }

  &__list {
    position: relative;
    margin-top: 5.42rem; /* Пересчитано */
    padding-left: 0;

    @media (min-width: v.$screen-desktop) {
      display: flex;
      margin: 0;
    }
  }

  &__list-item {
    margin: 0.54rem 0; /* Пересчитано */
    list-style-type: none;
    opacity: 0;

    @media (min-width: v.$screen-desktop) {
      margin: 0 20px 0 0;
      opacity: 1;
      transform: none;
      
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__link {
    color: v.$secondary-text-color;
    text-decoration: none;
    font-size: 2.17rem; /* Пересчитано */
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    position: relative;

    &:hover {
      color: v.$third-color;
    }

    &:hover:after {
      width: 100%;
    }

    &.active {
      color: v.$third-color;
    }

    @media (min-width: v.$screen-tablet) {
      font-size: 3.25rem; /* Пересчитано */
    }

    @media (min-width: v.$screen-desktop) {
      font-size: 1.17rem; /* Пересчитано */
    }
  }
}

.nav-menu.active .nav-menu__list-item {
  opacity: 1;
}