@use 'variables' as v;

.hero {
  background: url('/images/entry-section-mobile.jpg') no-repeat center/cover;
  background: image-set(
    url('/images/entry-section-mobile.avif') type('image/avif'),
    url('/images/entry-section-mobile.webp') type('image/webp'),
    url('/images/entry-section-mobile.jpg') type('image/jpg')
  ) no-repeat center/cover;
  padding: 196px 0 201px 0; // Отступ для header сверху
  margin-bottom: 236px;
  background-attachment: fixed;
  position: relative;

  @media all and (min-resolution: 2dppx) {
    background: image-set(
      url('/images/entry-section-mobile@2x.avif') type('image/avif'),
      url('/images/entry-section-mobile@2x.webp') type('image/webp'),
      url('/images/entry-section-mobile@2x.jpg') type('image/jpg')
    ) no-repeat center/cover;
  }
  
  @media (min-width: v.$screen-tablet) {
    background: url('/images/entry-section-tablet.jpg') no-repeat center/cover;
    background: image-set(
      url('/images/entry-section-tablet.avif') type('image/avif'),
      url('/images/entry-section-tablet.webp') type('image/webp'),
      url('/images/entry-section-tablet.jpg') type('image/jpeg')
    ) no-repeat center/cover;
    padding-top: 314px; // Добавляем отступ для контента после header
    padding-bottom: 322px;

    @media all and (min-resolution: 2dppx) {
      background: url('/images/entry-section-tablet@2x.jpg') no-repeat center/cover;
      background: image-set(
        url('/images/entry-section-tablet@2x.avif') type('image/avif'),
        url('/images/entry-section-tablet@2x.webp') type('image/webp'),
        url('/images/entry-section-tablet@2x.jpg') type('image/jpeg')
      ) no-repeat center/cover;
    }
  }
  @media (min-width: v.$screen-desktop) {
    background: url('/images/entry-section-desktop.jpg') no-repeat center/cover; /* Fallback */
    background: image-set(
      url('/images/entry-section-desktop.avif') type('image/avif'),
      url('/images/entry-section-desktop.webp') type('image/webp'),
      url('/images/entry-section-desktop.jpg') type('image/jpeg')
    ) no-repeat center/cover;
    padding-top: 224px; // Добавляем отступ для контента после header
    padding-bottom: 256px;
    margin-bottom: 257px;

    @media all and (min-resolution: 2dppx) {
      background: url('/images/entry-section-desktop@2x.jpg') no-repeat center/cover; /* Fallback */
      background: image-set(
        url('/images/entry-section-desktop@2x.avif') type('image/avif'),
        url('/images/entry-section-desktop@2x.webp') type('image/webp'),
        url('/images/entry-section-desktop@2x.jpg') type('image/jpeg')
      ) no-repeat center/cover;
    }
  }
}

.hero__title {
    margin: 0;
    color: v.$secondary-text-color;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3.00rem;
    position: relative;
    display: inline-block;

    & small {
        font-family: 'mr_kindlyjasmineg';
        font-weight: 400;
        color: v.$third-color;
        text-transform: none;
        position: absolute;
        top: 2rem;
        right: -2.8rem;
        
        @media (min-width: v.$screen-tablet) {
          top: 30px;
          right: -5.67rem;
          font-size: 100%;
        }

        @media (min-width: v.$screen-desktop) {
          top: 45px;
          right: -8.5rem;
          font-size: 89%;
        }
    }

    @media (min-width: v.$screen-tablet) {
      font-size: 4.00rem;
    }

    @media (min-width: v.$screen-desktop) {
      font-size: 6.00rem;
    }
}

.hero__btn {
    padding: 1.02em 3.8em;
    font-size: 1.1667rem;
    margin-top: 95px;
    display: inline-block;

    @media (min-width: v.$screen-tablet) {
      margin-top: 96px;
    }

    @media (min-width: v.$screen-desktop) {
      margin-top: 79px;
    }
}

.logo-wrapper {
  margin-top: 13px;

  @media (min-width: v.$screen-desktop) {
    display: flex;
    margin-top: -1px;
  }
}

.first_logo-word {
  width: 217px;
  margin-bottom: 6px;

  @media (min-width: v.$screen-tablet) {
    width: 287px;
  }

  @media (min-width: v.$screen-desktop) {
    margin-bottom: 0;
  }
}

.second_logo-word {
  width: 306px;

  @media (min-width: v.$screen-tablet) {
    width: 408px;
    margin-top: 7px;
  }

  @media (min-width: v.$screen-desktop) {
    margin-left: 30px;
    margin-top: 0;
  }
}

.hero-social-block {
  padding-top: 92px;
  padding-right: 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__link {
    align-items: center;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    fill: v.$secondary-text-color;
    transition: fill 0.3s ease, color 0.3s ease;
    width: 30px;
    height: 30px;

    
    &--facebook {
      stroke: v.$secondary-text-color;
      fill: none;

      &:hover {
        stroke: v.$third-color;
      }
    }

    &--vk,
    &--instagram {
      fill: v.$secondary-text-color;

      &:hover {
        fill: v.$third-color;
      }
    }
  }

  @media (min-width: v.$screen-tablet) {
    padding-top: 10px;
  }
}


@media (min-width: v.$screen-tablet) {
  .hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}





