@use 'variables' as v;

.hero {
  height: 928px;
  background: url('/build/images/entry-section-mobile.jpg') no-repeat center/cover;
  background: image-set(
    url('/build/images/entry-section-mobile.avif') type('image/avif'),
    url('/build/images/entry-section-mobile.webp') type('image/webp'),
    url('/build/images/entry-section-mobile.jpg') type('image/jpg')
  ) no-repeat center/cover;

  @media all and (min-resolution: 2dppx) {
    background: image-set(
      url('/build/images/entry-section-mobile@2x.avif') type('image/avif'),
      url('/build/images/entry-section-mobile@2x.webp') type('image/webp'),
      url('/build/images/entry-section-mobile@2x.jpg') type('image/jpg')
    ) no-repeat center/cover;
  }
  
  @media (min-width: v.$screen-tablet) {
    height: 500px;
    background: url('/build/images/entry-section-tablet.jpg') no-repeat center/cover;
    background: image-set(
      url('/build/images/entry-section-tablet.avif') type('image/avif'),
      url('/build/images/entry-section-tablet.webp') type('image/webp'),
      url('/build/images/entry-section-tablet.jpg') type('image/jpeg')
    ) no-repeat center/cover;

    @media all and (min-resolution: 2dppx) {
      background: url('/build/images/entry-section-tablet@2x.jpg') no-repeat center/cover;
      background: image-set(
        url('/build/images/entry-section-tablet@2x.avif') type('image/avif'),
        url('/build/images/entry-section-tablet@2x.webp') type('image/webp'),
        url('/build/images/entry-section-tablet@2x.jpg') type('image/jpeg')
      ) no-repeat center/cover;
    }
  }
  @media (min-width: v.$screen-desktop) {
    height: 600px;
    background: url('/build/images/entry-section-desktop.jpg') no-repeat center/cover; /* Fallback */
    background: image-set(
      url('/build/images/entry-section-desktop.avif') type('image/avif'),
      url('/build/images/entry-section-desktop.webp') type('image/webp'),
      url('/build/images/entry-section-desktop.jpg') type('image/jpeg')
    ) no-repeat center/cover;

    @media all and (min-resolution: 2dppx) {
      background: url('/build/images/entry-section-desktop@2x.jpg') no-repeat center/cover; /* Fallback */
      background: image-set(
        url('/build/images/entry-section-desktop@2x.avif') type('image/avif'),
        url('/build/images/entry-section-desktop@2x.webp') type('image/webp'),
        url('/build/images/entry-section-desktop@2x.jpg') type('image/jpeg')
      ) no-repeat center/cover;
    }
  }
}