// @use 'variables' as v;

// .modal {
//   display: none;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   background: rgba(0, 0, 0, 0.9);
//   z-index: 1000;
//   justify-content: center;
//   align-items: center;

//   &.active {
//     display: flex;
//   }
// }

// .modal-content {
//   position: relative;
//   width: 90%;
//   max-width: 1200px;
//   height: 90vh;
//   background: #000;
// }

// .modal-video {
//   width: 100%;
//   height: 100%;
//   position: relative;
// }

// .modal-video iframe {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   border: none;
// }

// .modal-close {
//     position: absolute;
//     top: -3%;
//     right: -3%;
//     width: 30px;
//     height: 30px;
//     background: none;
//     border: none;
//     cursor: pointer;
//     z-index: 1001;
//     padding: 0;
//     font-size: 0; // Убираем текст

//     &:hover {
//         opacity: 0.8;
//     }

//     // Создаем крестик с псевдоэлементами
//     &::before,
//     &::after {
//         content: '';
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         width: 20px;
//         height: 2px;
//         background: #fff;
//         transform: translate(-50%, -50%);
//     }

//     &::before {
//         transform: translate(-50%, -50%) rotate(45deg);
//     }

//     &::after {
//         transform: translate(-50%, -50%) rotate(-45deg);
//     }
// }
