@use 'variables' as v;

.nav-toggle {
  display: block;
  width: 40px;
  height: 25px;
  background: none;
  border: none;
  position: relative;
  z-index: 14;
  margin-bottom: 7px;

  @media (min-width: v.$screen-desktop) {
    display: none;
  }

  &__line {
    display: block;
    width: 100%;
    height: 5px;
    background-color: v.$secondary-text-color;
    position: absolute;
    left: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;

    &:nth-child(1) { top: 0; }
    &:nth-child(2) { top: 50%; transform: translateY(-50%); }
    &:nth-child(3) { bottom: 0; }
  }
}

.nav-toggle.active .nav-toggle__line {
  &:nth-child(1) { transform: translateY(10px) rotate(45deg); }
  &:nth-child(2) { opacity: 0; }
  &:nth-child(3) { transform: translateY(-10px) rotate(-45deg); }
}
