@use 'variables' as v;
@use "header";
@use 'fonts';
@use 'nav-toggle';
@use 'hero';
@import "~modern-normalize/modern-normalize.css";



*,
*::before,
*::after {
    box-sizing: border-box;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  outline-offset: -2px;
}

html {
    font-size: 13px;
}

body {
    line-height: 1.5;
}

body.menu-open {
  overflow: hidden;
}

img {
    max-width: 100%;
    display: block;
}

.container {
  max-width: v.$max-width-container;
  margin: 0 auto;
  padding: v.$padding-horizontal-mobile;

  @media (min-width: v.$screen-tablet) {
    padding: v.$padding-horizontal-tablet;
  }

  @media (min-width: v.$screen-desktop) {
    padding: 0;
  }
}


