@use 'variables' as v;
@use "header";
@use 'fonts';
@use 'nav-toggle';
@use 'hero';
@use 'btn';
// @use 'video';
// @use 'modal-video';
@import "~modern-normalize/modern-normalize.css";
// @import 'swiper/css'; // Импорт стилей Swiper


*,
*::before,
*::after {
    box-sizing: border-box;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  outline-offset: -2px;
}

html {
    font-size: 12px;
}

body {
    line-height: 1.5;
}

body.menu-open {
  overflow: hidden;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.container {
  max-width: v.$max-width-container;
  margin: 0 auto;
  padding: v.$padding-horizontal-mobile;

  @media (min-width: v.$screen-tablet) {
    padding: v.$padding-horizontal-tablet;
  }

  @media (min-width: v.$screen-desktop) {
    padding: 0;
  }
}

.main {
  position: absolute;
  width: 100%;
  top: 0;
}


