@use 'variables' as v;


html {
    font-size: 12px;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    line-height: 1.5;

    &.modal-open {
      overflow: hidden;
    }
}

body.menu-open {
  overflow: hidden;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.container {
  max-width: v.$max-width-container;
  margin: 0 auto;
  padding: v.$padding-horizontal-mobile;

  @media (min-width: v.$screen-tablet) {
    padding: v.$padding-horizontal-tablet;
  }

  @media (min-width: v.$screen-desktop) {
    padding: 0;
  }
}

.main {
  position: static;
  width: 100%;
  overflow-x: hidden;
}

.subtitle {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 2rem;
  color: v.$secondary-color;
}

// Скрывает элемент визуально, но оставляет доступным для скринридеров и SEO
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}