$primary-color: linear-gradient(135deg, #0499dd 0%, #17c1bc 100%);
$secondary-color: #0499dd;
$third-color: #ffc700;
$primary-text-color: #282828;
$secondary-text-color: #ffffff;

$padding-horizontal-mobile: 0 24px;  
$padding-horizontal-tablet: 0 79px;  
$screen-tablet: 768px;               
$screen-desktop: 1440px;            
$max-width-container: 1120px;




