<footer class="footer">
    <div class="container">
        <a href="#home" class="footer__logo-link" aria-label="На главную">
            <img src="./images/logo-color.svg" alt="PeroTravel logo" class="footer__logo">
        </a>
        <div class="footer__social-block">
            <a href="https://vk.com/perotravel" class="footer__social-link" aria-label="Pero Travel ВКонтакте" target="_blank" rel="noopener noreferrer">
                <svg class="footer__social-icon footer__social-icon--vk" aria-hidden="true">
                  <use href="./images/sprites/sprites.svg#vk-icon"></use>
                </svg>
              </a>
              <a href="https://instagram.com/perotravel" class="footer__social-link" aria-label="Pero Travel в Instagram" target="_blank" rel="noopener noreferrer">
                <svg class="footer__social-icon footer__social-icon--instagram" aria-hidden="true">
                  <use href="./images/sprites/sprites.svg#instagram-icon"></use>
                </svg>
              </a>
              <a href="https://facebook.com/perotravel" class="footer__social-link" aria-label="Pero Travel в Facebook" target="_blank" rel="noopener noreferrer">
                <svg class="footer__social-icon footer__social-icon--facebook" aria-hidden="true">
                  <use href="./images/sprites/sprites.svg#facebook-icon"></use>
                </svg>
              </a>
        </div>
        <nav class="footer__nav">
            <ul class="footer__nav-list">
              <li class="footer__nav-item"><a href="#home" class="footer__nav-link">Главная</a></li>
              <li class="footer__nav-item"><a href="#excursions" class="footer__nav-link">Экскурсии</a></li>
              <li class="footer__nav-item"><a href="#account" class="footer__nav-link">Личный кабинет</a></li>
            </ul>
        </nav>
        <div class="footer__contacts">
            <a href="https://wa.me/79649441874" class="footer__contact-link" target="_blank" rel="noopener noreferrer">
              <svg class="footer__contact-icon footer__contact-icon--whatsup">
                <use href="./images/sprites/sprites.svg#whatsup-icon"></use>
              </svg>
              <span class="footer__contact-text">+7 964 944 18 74</span>
            </a>
            <a href="https://t.me/79189199828" class="footer__contact-link" target="_blank" rel="noopener noreferrer">
              <svg class="footer__contact-icon footer__contact-icon--telegram">
                <use href="./images/sprites/sprites.svg#telegram-icon"></use>
              </svg>
              <span class="footer__contact-text">+7 918 919 98 28</span>
            </a>
            <a href="https://t.me/perotravel_bot" class="footer__contact-link" target="_blank" rel="noopener noreferrer">
              <svg class="footer__contact-icon footer__contact-icon--telegram">
                <use href="./images/sprites/sprites.svg#telegram-icon"></use>
              </svg>
              <span class="footer__contact-text">Телеграм-бот PeroTravel</span>
            </a>
            <a href="mailto:office@perotravel.ru" class="footer__contact-link" target="_blank" rel="noopener noreferrer">
              <svg class="footer__contact-icon footer__contact-icon--mail">
                <use href="./images/sprites/sprites.svg#mail-icon"></use>
              </svg>
              <span class="footer__contact-text">office@perotravel.ru</span>
            </a>
        </div>
    </div>
</footer>

