<header class="header">
  <div class="container header__container">
    <a href="#home" class="header__logo-link" aria-label="На главную">
      <img src="./images/logo.svg" class="header__logo" alt="logo" width="40" height="58">
    </a>
    <nav class="nav-menu">
      <ul class="nav-menu__list">
        <li class="nav-menu__list-item"><a href="#home" class="nav-menu__link">Главная</a></li>
        <li class="nav-menu__list-item"><a href="#excursions" class="nav-menu__link">Экскурсии</a></li>
        <li class="nav-menu__list-item"><a href="#account" class="nav-menu__link">Личный кабинет</a></li>
      </ul>
    </nav>
    <button class="nav-toggle" type="button" aria-label="Toggle menu" aria-expanded="false">
        <span class="nav-toggle__line"></span>
        <span class="nav-toggle__line"></span>
        <span class="nav-toggle__line"></span>
    </button>
   </div>
  </header>

